<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    {% include "lab4_navbar.html"%}
    <div class="container">
    <table class="table table-striped table-hover table-borderless" style="background-color: #f5f3f4;" >
      <thead class="table-danger"></thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- loop from Note model -->
        {% if notes %} 
          {% for info in notes %}
      <tr>
        <td>{{ info.to }}</td>
        <td>{{ info.sender_info }}</td>
        <td>{{ info.title }}</td>
        <td>{{ info.message }}</td>
      </tr>
      {% endfor %}
      {% endif %}

      <!-- END SECTION -->
    </table>
    </div>
  </body>
</html>
