<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    {% include "lab4_navbar.html"%}
    <div class="container">
      <form action="" method="POST">
          {% csrf_token %}
          <table class="table table-borderless" style="background-color:#adb5bd; max-width: fit-content;" >
            <tr>
              <col style="background-color:#adb5bd; width: 125px;">
            </tr>
            {{ form }}
          </table>
          <br>
          <input type="submit" value="Submit" class="btn btn-primary" style="background-color: #adb5bd; border: #B0C4DE;">
      </form>
    </div>
  </body>
</html>