<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    {% include "lab4_navbar.html"%}
    <div class="container">
      <div class="row">
        {% if notes %} 
        {% for info in notes %}
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body" style="background-color: #e9ecef;">
              <h5 class="card-title text-center">{{ info.title }}</h5>
                <p class="card-text" style="background-color: #e9ecef;">To : {{ info.to }}
                  <br>
                  From : {{ info.sender_info }}</p>
                <p class="card-text card text-center" style="background-color:#adb5bd;">{{ info.message }}</p>
                <a href="#"></a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
