<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table border="2">
      <tr>
        <th bgcolor=#B0C4DE>To</th>
        <th bgcolor=#B0C4DE>From</th>
        <th bgcolor=#B0C4DE>Title</th>
        <th bgcolor=#B0C4DE>Message</th>
      </tr>
      <!-- loop from Note model -->
        {% if notes %} 
          {% for info in notes %}
      <tr>
        <td>{{ info.to }}</td>
        <td>{{ info.sender_info }}</td>
        <td>{{ info.title }}</td>
        <td>{{ info.message }}</td>
      </tr>
      {% endfor %}
      {% endif %}

      <!-- END SECTION -->
    </table>
  </body>
</html>
