<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend</title>
  </head>
  <body>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="3">
          <tr>
            <col style="background-color:#B0C4DE">
          </tr>
          {{ form }}
        </table>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>