<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
  </head>
  <body>
    <table border="2">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
        {% if friends %} 
          {% for person in friends %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.npm  }}</td>
        <td>{{ person.DOB  }}</td>
      </tr>
      {% endfor %}
      {% endif %}

      <!-- END SECTION -->
    </table>
  </body>
</html>
